.container--movie {
    height: 100vh;
    height: 100%;
    
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #111;
    color: #fff;
    /* padding: 100px 5%; */

    .shadow--vertical {
        width: 100%;
        height: 100%;
        height: inherit;
        background: linear-gradient(to top, #111 10%, transparent 90%);
    }
    
    .shadow--horizontal {
        width: 100%;
        height: 100%;
        height: inherit;
        background: linear-gradient(to right, #111 30%, transparent 90%);
    }
    
    .data--movie {
        width: 100vw;
        height: inherit;
    
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: start;
        padding-left: 5%;
    }
    
    h1 {
        font-size: 6em;
        /* margin: 1%; */
    }
    
    p {
        font-size: 1.8em;
        width: 70%;
        word-break: break-word;
    
    
        margin: 1% 0;
    }
}

.container--assessments {
    font-size: 1.5em;

    display: flex;
    justify-content: start;
    align-items: flex-end;
    gap: 50px;

    span {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    
    span img {
        width: 40px;
        margin-bottom: 8px;
    }
}

.btn-back {
    font-size: 1.3em;
    font-weight: bold;

    padding:  1% 5%;
    text-transform: uppercase;
    color: #fff;
    background: #BE123C;
    border: none;
    text-decoration: none;
    border-radius: 7px;
    margin-top: 2%;
    cursor: pointer;
}

.container--loading {
    background: #fff;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}